.App {
  text-align: center;
}

header {
  background-image: './images/Local_block.jpeg';
}

.beerPage {
  background-color: rgb(63, 59, 58);
}

.beerCard {
  border: 5px solid rgb(238, 219, 159);
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.beerCardContainer {
  border: 1px solid black;
  background-color: white;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em;
}

.descriptor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  background-color: rgb(212, 188, 154);
}

.bottomRow {
  display: flex;
  justify-content: space-around;

  background-color: rgb(238, 219, 159);
}

.navButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(63, 59, 58);
}

.navButton a {
  color: rgb(212, 188, 154);
}
footer {
  background-color: rgb(63, 59, 58);
}

.homePage {
  background-color: rgb(63, 59, 58);
}

.blockOne {
  display: flex;
  flex-direction: row;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: left;
  margin: 2em;
  border: 1px solid black;
  background-color: white;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin: 2em;
  text-align: left;
  border: 1px solid black;
  background-color: white;
}

.homeTapPhoto {
  align-items: center;
}

.aboutTop {
  margin: 2em;
  text-align: left;
}
